#DriftAuResto{
    width:100%;
    height:auto;
    grid-area: DriftAuResto;
}
#Port{
    width:100%;
    height:auto;
    grid-area: Port;
}
#ScreenShot00018{
    width:100%;
    height:auto;
    grid-area: ScreenShot00018;
}
#BALCONEE{
    width:100%;
    height:auto;
    grid-area: BALCONEE;
}
#noel{
    width:100%;
    height:auto;
    grid-area: noel;
}
#bday{
    width:100%;
    height:auto;
    grid-area: bday;
}
#noel{
    width:100%;
    height:auto;
    grid-area: noel;
}
#stray{
    width:100%;
    height:auto;
    grid-area: stray;
}
#BeachStories{
    width:100%;
    height:auto;
    grid-area: BeachStories;
}
#images-home-grid{
    display: grid;
    grid-template-areas:
      'DriftAuResto DriftAuResto DriftAuResto Port Port' 
      'DriftAuResto DriftAuResto DriftAuResto Port Port'
      'BALCONEE BALCONEE bday ScreenShot00018 ScreenShot00018'
      'BALCONEE BALCONEE . ScreenShot00018 ScreenShot00018'
      'noel noel stray stray stray'
      'BeachStories BeachStories BeachStories . .';
    gap: 1em;
    padding: 10px;
}
@media screen and (max-width: 1024px) {
    #images-home-grid{
        display: grid;
        grid-template-areas:
          'DriftAuResto DriftAuResto'
          'Port bday '
          'Port bday '
          'BALCONEE ScreenShot00018'
          'noel stray'
          'BeachStories BeachStories';
        gap: 1em;
        padding: 10px;
    }
}
@media screen and (max-width: 600px) {
    #images-home-grid{
        display: table;
        gap: 0.5em;
        padding: 3px;
    }
}
    /* Media query for smaller screens */
    @media screen and (max-width: 600px) {
    h2{
        color: #ff7477;
        font-size: 1em;
        text-align: justify;
        text-justify: left;
        display: inline
    }
    }
    
.photo-holder {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: fit-content;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.178);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Animate the button */
}

img {
    width: 100%;
    height: auto;
    z-index: 0; /* Ensure the image is below the pseudo-element */
    border-radius: 5px;
    pointer-events:  none;
}

.photo-holder::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%; /* Set to 200% width to allow full movement */
    height: 100%;
    opacity: 0.1;
    transform-origin: left;
    z-index: 2; /* Place the pseudo-element above the image */
    background: linear-gradient(292deg, rgba(255, 255, 255, 0) 62%, rgba(255, 255, 255, 0.33) 78%, rgba(255, 255, 255, 0.66) 79%, rgba(255, 255, 255, 0.56) 88%, rgba(255, 255, 255, 0.87) 90%, rgba(255, 255, 255, 0.93) 95%);; /* More visible gradient colors */
    transform: translateX(-40px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Animate the transform property */
}

.photo-holder:hover::after {
    transform: translateX(0px) ; /* Move the gradient across the element */
    opacity: 0.3;
    
}

.photo-holder:hover {
    transform: translateY(-6px) scaleX(1.005) scaleY(1.005) rotate(0.3deg); /* Move the button up and slightly scale */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.178);
    background: rgb(233, 232, 232);
}

.invisible {
    padding: 0;
    background: none;
    border: none;
}
