#DriftAuResto{
    width:100%;
    height:auto;
    grid-area: DriftAuResto;
}
#Port{
    width:100%;
    height:auto;
    grid-area: Port;
}
#ScreenShot00018{
    width:100%;
    height:auto;
    grid-area: ScreenShot00018;
}
#BALCONEE{
    width:100%;
    height:auto;
    grid-area: BALCONEE;
}
#noel{
    width:100%;
    height:auto;
    grid-area: noel;
}
#bday{
    width:100%;
    height:auto;
    grid-area: bday;
}
#noel{
    width:100%;
    height:auto;
    grid-area: noel;
}
#stray{
    width:100%;
    height:auto;
    grid-area: stray;
}
#BeachStories{
    width:100%;
    height:auto;
    grid-area: BeachStories;
}
#images-home-grid{
    display: grid;
    grid-template-areas:
      'DriftAuResto DriftAuResto DriftAuResto Port Port' 
      'DriftAuResto DriftAuResto DriftAuResto Port Port'
      'BALCONEE BALCONEE bday ScreenShot00018 ScreenShot00018'
      'BALCONEE BALCONEE . ScreenShot00018 ScreenShot00018'
      'noel noel stray stray stray'
      'BeachStories BeachStories BeachStories . .';
    gap: 1em;
    padding: 10px;
}
.photo-holder{    
    position: relative;
    background-color: #f8f9fa;
    flex-grow: 0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.178);
    transform: translateY(0px) scaleX(1) scaleY(1);
    transition: transform 0.15s ease-in-out; /* Animate the button */
    display: inline-block;
}

.photo-holder:hover {
    transform: translateY(-5px) scaleX(1.005) scaleY(1.005); /* Move the button 3px up on hover */
}

/*reflex effect with a pseudo element*/
.photo-holder::after{
    content: '';
    position: absolute;
    top: -50%; /* Start above the element */
    left: -50%; /* Start to the left of the element */
    width: 200%; /* Make it wide enough to cover the element */
    height: 200%; /* Make it tall enough to cover the element */
    transform: rotate(45deg); /* Rotate to create the reflex effect */
    background: rgba(255, 255, 255, 0.874); /* White with some transparency */
    /* transform: rotate(45deg); Rotate to create the reflex effect */
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s, top 0.5s; /* Animate the opacity and position */
}

.photo-holder:hover::after{
    top: 0%; /* Move to cover the element */
    left: 0%; /* Center on the element */
    opacity: 1; /* Make it visible */
}

